.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in.delay-1 {
  transition-delay: 0.2s;
}

.fade-in.delay-2 {
  transition-delay: 0.6s;
}

.container-wrapper {
  width: 100%;
  container-type: inline-size;
}

@container (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@container (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@container (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@container (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

.animate-cursor {
  animation: blink 1s step-end infinite;
  transition: all 0.3s ease-in-out
}

/* Fix untuk mobile menu */
#mobile-menu {
    display: none;
    position: absolute; /* atau 'fixed' jika ingin tetap saat di-scroll */
    top: 100%; /* posisikan tepat di bawah navbar */
    left: 0;
    width: 100%;
    z-index: 1000; /* pastikan lebih tinggi dari konten lain */
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
}

#mobile-menu.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


/* Animasi untuk fade-in dari samping kanan */
@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Elemen di luar layar */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Elemen kembali ke posisi normal */
  }
}

.slide-in-right {
  opacity: 0; /* Mulai dengan elemen tersembunyi */
  transform: translateX(20px); /* Elemen dimulai dari luar layar */
  transition: all 0.8s ease-out;
}

.slide-in-right.visible {
  opacity: 1; /* Menampilkan elemen */
  transform: translateX(0); /* Kembalikan elemen ke posisi normal */
}

/* Delay animasi */
.slide-in-right.delay-1 {
  animation-delay: 0.2s;
}

.slide-in-right.delay-2 {
  animation-delay: 0.4s;
}

.slide-in-right.delay-3 {
  animation-delay: 0.6s;
}
